@font-face {
  font-family: 'DINPro';
  src: url('../fonts/din_pro.woff2') format('woff2'),
    url('../fonts/din_pro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy-regular.woff2') format('woff2'), url('../fonts/gilroy-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}